.m-btn {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	@include simple-ease;
	letter-spacing: 1px;
	background: transparent;

	&.m-btn-nav {
		background-color: $green;
		border: 0;
		color: white;
		font-size: 14px;
		font-weight: 400;
		padding: 10px 15px;
		margin-top: 19px;
		margin-left: 15px;
		@media only screen and (max-width: $screen-sm) {
          margin: 15px;
        }
        &:hover {
        	background-color: darken($green,5%);
        }
	}

	&.m-btn-green {
		border: 1px solid $green;
		color: $green;

		&:hover, &:focus {
			background-color: $green;
			color: white;
		}
	}

	&.m-btn-orange {
		border: 1px solid $orange;
		color: $orange;

		&:hover {
			background-color: $orange;
			color: white;
		}
	}

	&.m-btn-white {
		border: 1px solid white;
		color: white;

		&:hover, &:focus {
			background-color: white;
			color: $blueblack;
		}
	}

	&.m-btn-block {
		display: block;
	}

	&.m-btn-lg {
		padding: 15px 20px;
	}

	&.m-btn-min {
		width: 240px;

		@media only screen and (max-width: $screen-sm) {
			width: 100%;
		}
	}

	&.m-btn-simple {
		background: none;
		border: 0;
		padding: 0 0 8px 0;
		border-bottom: 3px solid black;
		border-radius: 0;
		font-weight: 600;
		font-size: 14px;

		&.m-btn-simple-white {
			color: white;
			border-bottom: 3px solid white;
		}

		&:hover {
			color: $green;
			border-bottom: 3px solid $green;
		}
	}

	&.m-btn-footer {
		margin: -2px 0 0 0;
		border-bottom: 0;
		padding: 0;
		font-size: 12px;
		font-weight: 400;

		&:hover {
			border-bottom: 0;
		}
	}
}

button.clean {
	padding: 0;
	background: none;
	border: 0;
	box-shadow: none;
}

.m-btn-round {
	position: relative;
	display: block;
	height: 80px;
	width: 80px;
	background-color: white;
	border-radius: 100px;
	padding-top: 16px;
	@include box-shadow(0px, 0px, 28px, 0px darken($blueblack, 28%));
}