section.product-hero {
	padding: 120px 0;
	background: linear-gradient(rgba(93, 111, 125, 0.7), rgba(93, 111, 125, 0.7)), url(images/product-hero.jpg) no-repeat center center;
	background-size: cover;
}

.desk-area-title {
	p {
		color: $green;
	}
}