
	section.legal {
		padding: 100px 0 0 0;

		ul li {
    		margin-bottom: 5px;
    		font-size: 14px;
    		line-height: 20px;
		}

		.breaker {
    		margin: 40px 0;
    		height: 1px;
    		background: #cccccc;
		}

	}

	footer.footer {
		
	}

