.m-btn {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	@include simple-ease;
	letter-spacing: 1px;

	&.m-btn-green {
		border: 1px solid $green;
		color: $green;

		&:hover {
			background-color: $green;
			color: white;
		}
	}

	&.m-btn-orange {
		border: 1px solid $orange;
		color: $orange;

		&:hover {
			background-color: $orange;
			color: white;
		}
	}

	&.m-btn-block {
		display: block;
	}

	&.m-btn-lg {
		padding: 15px 20px;
	}

	&.m-btn-min {
		width: 240px;

		@media only screen and (max-width: $screen-sm) {
			width: 100%;
		}
	}

	&.m-btn-simple {
		background: none;
		border: 0;
		padding: 0 0 8px 0;
		border-bottom: 3px solid black;
		border-radius: 0;
		font-weight: 600;
		font-size: 14px;

		&.m-btn-simple-white {
			color: white;
			border-bottom: 3px solid white;
		}

		&:hover {
			color: $green;
			border-bottom: 3px solid $green;
		}
	}

	&.m-btn-footer {
		margin: -2px 0 0 0;
		border-bottom: 0;
		padding: 0;
		font-size: 12px;
		font-weight: 400;

		&:hover {
			border-bottom: 0;
		}
	}
}

button.clean {
	padding: 0;
	background: none;
	border: 0;
	box-shadow: none;
}