section.hero {
	margin: 90px 0 0 0;

	@media only screen and (max-width: $screen-sm) {
		margin-top: 45px;
	}

	.strapline {
		margin-bottom: 60px;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
			padding: 0 20px;
		}

		h1 {
			margin: 0;
			font-size: 44px;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1.2;

			@media only screen and (max-width: $screen-sm) {
				font-size: 36px;
			}
		}
	}

	.hero-cta-cont {

		@media only screen and (max-width: $screen-sm) {
			.hero-btn-mb {
				margin-bottom: 15px;
			}
		}

		ul {
			padding: 0;
			list-style: none;
		}
	}

	.hero-image {
		transform: scaleX(-1);
        filter: FlipH;

        @media only screen and (max-width: $screen-sm) {
        	text-align: center;
        	margin-bottom: 60px;

        	img {
        		text-align: center;
        		max-width: 320px;
        	}
        }
	}
}

/*Used in multiple areas*/
.vert-line {
	margin: 0 auto;
	width: 1px;
	height: 270px;
	background-color: lighten($blueblack, 30%);

	&.vert-line-small {
		height: 90px;
	}

	@media only screen and (max-width: $screen-sm) {
		height: 90px;
	}
}

.arrow-down {

}
/*End used in multiple areas*/

section.health-benefits {
	position: relative;
	margin-top: -108px;
	height: 900px;
	background: linear-gradient(rgba(93, 111, 125, 0.9), rgba(93, 111, 125, 0.9)), url(images/dude-at-standup-desk.jpg) no-repeat center center;
	background-size: cover;
	clip-path: polygon(0 30%, 100% 0, 100% 60%, 0 100%);

	@media only screen and (max-width: $screen-sm) {
		clip-path: none;
		margin-top: 60px;
		height: auto;
		padding: 60px 0;
		margin-bottom: 60px;
	}

	.health-benefits-cont {
		padding-top: 270px;

		@media only screen and (max-width: $screen-sm) {
			padding-top: 0;
			text-align: center;
		}

		.owner-quote {
			color: white;

			p.quote-body {
				font-size: 24px;
				font-weight: 300;
			}

			.quote-breaker {
				margin: 45px 0;
				height: 3px;
				width: 60px;
				background-color: white;

				@media only screen and (max-width: $screen-sm) {
					margin: 45px auto;
				}
			}

			p.quote-name {
				margin-bottom: 5px;
				font-size: 18px;
				font-weight: 500;
			}

			p.quote-title {
				font-size: 16px;
				font-weight: 300;
			}
		}

		.pulse-icons-cont {

			@media only screen and (max-width: $screen-sm) {
				text-align: center;
				margin-bottom: 60px;
			}

			ul {
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

section.health-stats {
	margin-top: -195px;
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-sm) {
		margin-top: 0;
		margin-bottom: 60px;
	}

	.arrow-down-green {
		margin-bottom: 90px;

		@media only screen and (max-width: $screen-sm) {
			margin-bottom: 60px;
			float: none!important;
			text-align: center;
		}
	}

	.health-stats-title {
		margin-bottom: 30px;
		font-size: 44px;
		text-transform: uppercase;
		line-height: 1.2;
		font-weight: 400;

		@media only screen and (max-width: $screen-sm) {
			float: none!important;
			text-align: center;
			font-size: 36px;
		}

		p {
			margin: 0;

			span {
				text-decoration: line-through;
			}
		}
	}

	.health-stats-para {
		margin-bottom: 90px;

		@media only screen and (max-width: $screen-sm) {
			margin-bottom: 60px;
			text-align: center;
		}		

		p {
			color: $blueblack;
			font-size: 24px;
			line-height: 1.4;

			@media only screen and (max-width: $screen-sm) {
				font-size: 20px;
			}
		}
	}

	.health-stats-wrap {
		padding: 0 30px;

		@media only screen and (max-width: $screen-sm) {
			margin-bottom: 60px;

			&.health-stats-wrap-last {
				margin-bottom: 0;
			}
		}

		.health-stats-icon {
			margin-bottom: 30px;
		}

		.health-stats-stat {
			margin-bottom: 30px;
			font-size: 56px;
			font-weight: 700;
			color: $green;

			@media only screen and (max-width: $screen-m-tablet) {
				font-size: 42px;
			}
		}

		.health-stats-body {
			font-size: 24px;
			text-transform: uppercase;
			color: $blueblack;

			p {

				span {
					font-weight: 600;
				}
			}
		}
	}
}

section.movi-method {
	height: 600px;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/movi-method-bg.jpg) no-repeat center center;
	background-size: cover;

	@media only screen and (max-width: $screen-sm) {
		height: 500px;
	}	

	.container {
		@include vertical-align();
	}

	.movi-method-cont {
		
		.movi-method-title {
			margin-bottom: 30px;
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-shadow: 1px 1px 18px rgba(0, 0, 0, 0.5); 
		}

		.movi-method-body {
			margin-bottom: 45px;
			font-size: 18px;
			font-weight: 300;
			text-shadow: 1px 1px 18px rgba(0, 0, 0, 0.5);
		}

		.movi-method-icon {

		}
	}
}

section.lifestyle {
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-sm) {
		margin-bottom: 60px;
	}

	.lifestyle-img-cont {
		height: 500px;
		padding: 290px 45px 45px 45px;
		margin-top: -45px;
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/lifestyle-one.jpg) no-repeat center center;
		background: cover;
		border-radius: 4px;
		color: white;

		@media only screen and (max-width: $screen-m-tablet) {
			padding: 40px;
		}

		@media only screen and (max-width: $screen-sm) {
			height: 450px;
		}

		&.lifestyle-img-cont-two {
			padding: 210px 45px 45px 45px;
			margin-top: 90px;
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/lifestyle-two.jpg) no-repeat center center;

			@media only screen and (max-width: $screen-m-tablet) {
				padding: 40px;
				word-wrap: break-word;
			}

			@media only screen and (max-width: $screen-sm) {
				margin-top: 30px;
			}
		}

		&.lifestyle-img-cont-three{
			padding: 210px 45px 45px 45px;
			margin-top: 180px;
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/lifestyle-three.jpg) no-repeat center center;

			@media only screen and (max-width: $screen-m-tablet) {
				padding: 40px;
			}

			@media only screen and (max-width: $screen-sm) {
				margin-top: 30px;
				margin-bottom: 60px;
			}
		}

		.lifestyle-img-title {
			font-size: 42px;
			font-weight: 300;
			text-transform: uppercase;
			line-height: 1.2;
			text-shadow: 1px 1px 18px rgba(0, 0, 0, 1);

			@media only screen and (max-width: $screen-m-tablet) {
				// font-size: 34px;
			}
		}

		.lifestyle-img-body {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.8;
			text-shadow: 1px 1px 18px rgba(0, 0, 0, 1);
		}

		.lifestyle-cta {

		}
	}
}

section.design {
	position: relative;
	margin-top: -180px;
	height: 900px;
	background: $blueblack url(images/movi-emblem.svg) no-repeat center center;
	// background-size: cover;
	clip-path: polygon(0 30%, 100% 0, 100% 60%, 0 100%);

	@media only screen and (max-width: $screen-sm) {
		display: none;
	}	
}

section.design-cont {
	margin-top: -730px;
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-m-tablet) {
		margin-top: -760px;
	}

	@media only screen and (max-width: $screen-sm) {
		margin-top: 0;
	}

	.row-design {
		margin-bottom: 30px;
	}

	.design-title {
		margin-bottom: 30px;

		p {
			margin: 0;
			font-size: 44px;
			color: white;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1.2;

			@media only screen and (max-width: $screen-sm) {
				color: $blueblack;
				text-align: center;
				font-size: 36px;
			}
		}
	}

	.design-sub-title {
		padding: 0 0 0 30px;
		color: white;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8;

		@media only screen and (max-width: $screen-sm) {
			color: $blueblack;
			text-align: center;
			padding: 0;
			margin-bottom: 60px;
		}		
	}

	.design-img {

		@media only screen and (max-width: $screen-sm) {
			margin-bottom: 30px;
			border: 1px solid $orange;
			border-radius: 4px;
		}

		img {
			border-radius: 4px;
		}
	}

	.design-body {
		border: 1px solid white;
		padding: 30px;
		border-radius: 4px;
		color: white;

		@media only screen and (max-width: $screen-sm) {
			border: 1px solid $orange;
			color: $orange;
		}

		&.design-body-alt {
			border: 1px solid $orange;
			color: $orange;
		}

		.design-body-cont {
			@include vertical-align();

			@media only screen and (max-width: $screen-sm) {
				transform: none;
			}

			p.design-body-title {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 600;
			}

			p.design-body-text {
				font-size: 16px;
				font-weight: 300;
				line-height: 1.6;
			}
		}
	}

	.design-cta {
		position: relative;
		margin-top: -58px;

		&:before {
			content: "";
			position: absolute;
			top: -450px;;
			left: 50%;
			width: 1px;
			height: 450px;
			background-color: lighten($blueblack, 30%);
			z-index: -1;
		}
	}
}

section.environment {
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-sm) {
		margin-bottom: 60px;
	}
	
	.enviro-container {
		padding: 0 120px;
		height: 400px;
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/philosophy-image.jpg) no-repeat center center;
		background-size: 110%;
		color: white;
		@include simple-ease;

		&:hover {
			background-size: 100%;
		}

		@media only screen and (max-width: $screen-m-tablet) {
			padding: 0 90px;
			background-size: cover;

			&:hover {
				background-size: cover;
			}
		}

		@media only screen and (max-width: $screen-sm) {
			padding: 0 40px;
		}

		&.enviro-container-sustainibility {
			background: linear-gradient(rgba(254, 135, 9, 0.2), rgba(254, 135, 9, 0.2)), url(images/sustainibility-image.jpg) no-repeat center bottom;
			background-size: 110%;
			@include simple-ease;

			&:hover {
				background-size: 100%;
			}

			@media only screen and (max-width: $screen-m-tablet) {
				background-size: cover;

				&:hover {
					background-size: cover;
				}
			}
		}

		&.enviro-container-charity {
			background: linear-gradient(rgba(254, 135, 9, 0.2), rgba(254, 135, 9, 0.2)), url(images/charity-image.jpg) no-repeat center center;
			background-size: 110%;
			@include simple-ease;
			
			&:hover {
				background-size: 100%;
			}

			@media only screen and (max-width: $screen-m-tablet) {
				background-size: cover;

				&:hover {
					background-size: cover;
				}
			}
		}

		&.enviro-container-legacy {
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/legacy-image.jpg) no-repeat center center;
			background-size: 110%;
			@include simple-ease;
			
			&:hover {
				background-size: 100%;
			}

			@media only screen and (max-width: $screen-m-tablet) {
				background-size: cover;

				&:hover {
					background-size: cover;
				}
			}
		}

		.enviro-content {
			@include vertical-align();

			.enviro-title {
				font-size: 32px;
				text-transform: uppercase;
			}

			.enviro-body {
				margin-bottom: 45px;
				font-size: 16px;
				line-height: 1.6;
			}
		}
	}
}

section.end-page {
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-sm) {
		.end-page-img {
			margin-bottom: 60px;
		}
	}

	.end-page-title {
		margin-bottom: 45px;
		font-size: 44px;
		line-height: 1.2;
		text-transform: uppercase;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
			font-size: 34px;
		}
	}

	.end-page-price {
		margin-bottom: 45px;
		font-size: 44px;
		font-weight: 600;
		line-height: 1.2;
		color: $green;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
		}
	}

	.end-page-cta {

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
		}
	}
}

footer {
	margin-bottom: 90px;

	@media only screen and (max-width: $screen-m-tablet) {
		margin-bottom: 60px;
	}

	.footer-logo {
		@media only screen and (max-width: $screen-sm) {
			max-width: 170px;
			text-align: center;
			margin: 0 auto 45px auto;
		}
	}

	.terms {

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
			float: none!important;
		}

		p {
			@include vertical-align();
			margin-bottom: 0;
		}
	}
}